alabaster==1.0.0
anyio==4.13.0
babel==2.18.0
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
docutils==0.22.4
h11==0.16.0
idna==3.11
imagesize==2.0.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.1
Pygments==2.20.0
requests==2.33.1
roman-numerals==4.1.0
snowballstemmer==3.0.1
Sphinx==9.1.0
sphinx-autobuild==2025.8.25
sphinx_rtd_theme==3.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
starlette==1.0.0
urllib3==2.6.3
uvicorn==0.44.0
watchfiles==1.1.1
websockets==16.0
wheel==0.45.1
